body {
	font-family: "Calibri", Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
#title {
	text-align: center;
	font-size: 3em;
 	margin-top: 0.4em;
	margin-bottom: 0.4em;
	font-weight: bold;
}
#top-bar {
	margin: auto;
	width: 60%;
}
#top-bar-row {
	border-top: 1px solid #909090;
	border-bottom: 1px solid #909090;
}
#bar-link1, #bar-link2, #bar-link3, #bar-link4, #bar-link5  {
	height: 50px;
	text-align: center;
	vertical-align: middle;

}
#bar-link1:hover, #bar-link2:hover, #bar-link3:hover, #bar-link4:hover, #bar-link5:hover {
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
}
#bar-link {
      	color: black; 
  	text-decoration: none;
 }
.main-content {
	margin: auto;
  	width: 80%;
}
